doctype html
html
  head
    meta(charset="utf-8")
    title KCC NMA ART258 Project
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="style.css")
  body

    //- get started here

    p This is a pug file! <a href="http://pugjs.org">Learn more at the PugJS home page</a>.

    //- Insert any outside scripts here

    //- This script tag goes last
    script(src="script.js")
